.container {
  display: flex;
  flex-direction: row;
  height: 300px;
  border: 3px solid red;
}

.box {
 height: 50px;
 width: 60px;
 /* margin: auto; */
 border: 3px solid blue;
 background-color: yellow; 
 /* margin: 5px; */
}

.box-2 {
order: -2;
}   

.box-4 {
 order: -1;
}  




/* 
 To reorder elements, you can use 
 flex-direction (normal or reverse), or 
 the order property, which arranges 
 elements in ascending order. Elements 
 with the same order value maintain their 
 original HTML order.

*/