.container {
  display: flex;
  width: 400px;
  height: 200px;
  font-size: 32px;
  color: white;
  border: 3px solid red;
  flex-direction: column;
}

.box-1 {
 flex-grow: 1;
 background-color: green;
 flex-basis: 40px;
}
 
.box-2 {
  flex-grow: 2;
 background-color: blue;
 flex-basis: 60px;
 max-height: 110px;
}


/* 
Flex-basis works similarly to width or 
height for elements inside a flex container, 
but its direction depends on the main axis.
If the main axis is horizontal (row), 
then flex-basis behaves like width.
If the main axis is vertical (column), 
then flex-basis behaves like height.

flex-basis defines the starting size of an 
element.
flex-grow defines how the remaining free 
space is distributed between elements.

As usual, we can still limit element sizes 
using properties such as max-width, 
max-height, min-width, and min-height
*/