.container {
  position: relative;
  height: 200px;
  border: 3px solid red;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.box {
  position: absolute;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: yellowgreen;
  text-align: center;

  /* margin: auto; */
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



/* 
Before Flexbox existed, vertical centering 
was often done using the top: 50% and 
transform: translateY(-50%) trick. Today, 
we can center elements much more easily 
using display: flex in most cases.

position: absolute is still useful when you 
need to place an element over another one, 
such as an icon or badge.  
*/