.container {
  display: flex;
  flex-direction: column;
  /* gap: 400px; */
  height: 300px;
  border: 3px solid red;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  justify-content: center;
  /* align-items: flex-start; */
  align-items: baseline;
}

.box {
 padding: 5px 10px;
 border: 3px solid blue;
 background-color: yellow;
}

.box-2 {
font-size: 30px;
margin-left: 20px;
}   

.box-4 {
 padding-top: 40px;
 align-self: flex-start;
}  

.box-5 {
  padding-bottom: 30px;
  align-self: flex-end;
}




/* 
Thus align-items: baseline; aligns either by 
bottom edge 1st line of text or by left 
edge of element 
*/