.container {
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
  border: 3px solid red;
}

.box {
 display: inline;
 height: 50px;
 width: 60px;
 /* margin: auto; */
 border: 3px solid blue;
 background-color: yellow; 
 /* margin: 5px; */
}

/* .box-2 {
  margin: 0 auto;
}  */


/* 
A container with display: flex provides 
flexible control over its child elements. 
Flexbox creates a consistent layout model 
where vertical margin collapsing does not 
occur, and margin: auto works for centering 
and spacing elements. Also, the display 
value of flex children does not affect 
their layout: even if a flex item is set 
to display: inline, it still behaves like 
a block-level element and can have its 
width and height defined, because all 
direct children of a flex container are 
treated as flex items.

*/