.container {
  display: flex;
  flex-direction: column;
  /* gap: 400px; */
  height: 300px;
  border: 3px solid red;
  justify-content: space-between;
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
}

.box {
 padding: 5px 10px;
 border: 3px solid blue;
 background-color: yellow;
}

.box-2 {
font-size: 30px;
/* margin-left: 10px; */
}   

.box-4 {
 padding-top: 40px;
}  

.box-5 {
  padding-bottom: 30px;
}




/* 
justify-content property lets us arrange 
alignment along the main axes. Flexbox guide 
lets us better understand every single value
of ustify-content
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/